:root {
  --primary: #7C0000;
  --secondary: #A16900;
  --tertiary: #F7B000;
  --light: #f0d6c3fd;
  --dark: #533a0b;
  --darker: #550202;
  --error: rgb(255, 53, 2);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Arial'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}


* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--dark);
}

footer {
  background: var(--dark);
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 250px;
  align-items: center;
}

.social{
  height: 50px;
  align-items: center;
  vertical-align: middle;
  margin: auto;
  padding-right: 20px;
}

.social img:hover {
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
  font-family: arial;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.two-column li {
  list-style: square;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.basis-25 {
  flex-basis: 25%;
}

.basis-50 {
  flex-basis: 50%;
}
.basis-75 {
  flex-basis: 75%;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  vertical-align: middle;
  align-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.mt-auto {
  margin: auto;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
  border: 2px solid #A16900;
}

.card-title {
  border-bottom: 2px solid #A16900;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--tertiary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navActive {
  color: var(--tertiary);
  background-color: var(--primary);
}

.relative {
  position: relative;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.projects img {
  object-fit: cover;
  filter: brightness(40%);
  opacity: .5;
  width: 100%;
  align-items: center;
}

.projects img:hover {
  filter: brightness(100%);
  opacity: .5;
}

.project-details {
  color: var(--tertiary); 
  top: 0px;
  left: 10px;
  /* bottom: 20px; */
  position: absolute;
}

.project-details img {
  background-color: white;
}

.gitHub {
  max-width: 25px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
      padding: 15px;
  }

  .contact-info div {
      margin: 5px 0 10px 0;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
      padding: 15px;
  }
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
      width: 100%;
  }

  header h1 {
      width: 100%;
  }

  header nav ul li a {
      font-size: 10px;
  }

  .flex-row {
      flex-direction: column;
      width: 100%;
  }

  .container {
      flex-direction: column;
  }

  .project-details h5 {
      font-size: 10px;
  }

  .project-details h6 {
    font-size: 8px;
  }
}